//Override


// 1. Variables
$primary: pink;
$secondary: green;


$headings-font-family: Courier;

// 2. Maps (afegir un color a primary, secondary, danger.......)
$theme-colors: (
  "elmeucolor": green
);

// Override del breakpoint sm de Grid
$grid-breakpoints: (
  sm: 700px
);


// Custom.scss
// Option A: Include all of Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";


// Custom.scss
// Option B: Include parts of Bootstrap

/*

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

*/