//Override

// 1. Variables
$primary: magenta;
$body-bg: #000;

// 2. Maps (afegir un color a primary, secondary, danger.......)
$theme-colors: (
  "elmeucolor": #900
);

// Custom.scss
// Option A: Include all of Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";


// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";